<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
  <h1><%= link_to post.title, post %></h1>
  <p><%= post.content %></p>
  <%= link_to "Edit", edit_post_path(post) %>
  <%= link_to "Destroy", post, method: :delete, data: {confirm: "Really?"} %>
  <br>
<% end %>
